<%- partial('../header') %>
    
<div style="padding: 30px 30px;">
<h3>Add Stage</h3>

<form>
<div class="form-group">
	<label for="stage_name">Stage</label>
	<input type="text" name="stage_name" id="stage_name" class="form-control" placeholder="Stage Name">
</div>
<button type="button" class="btn btn-default" id="btnAddStage">Add</button>
<input type="hidden" value="<%= fid %>" id="fid" />
</form>
	



</div>
  
  
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$("#btnAddStage").on("click", function(){
	
	var stage_name = $("#stage_name").val(),
		fid = $("#fid").val();

	$.ajax({
		
		type: "GET",
		data: "stage_name="+encodeURIComponent(stage_name)+"&fid="+fid,
		url: "/stage/save",
		success: function(err, resp){
			alert("Saved Stage!");
		},
		error: function(err, resp){
			
			alert("Err");
		}
		
		
	});
	
});

</script>

<%- partial('../footer') %>