<%- partial('../header') %>
    
<div style="padding: 30px 30px;">
<h3>Edit Stage</h3>

<form>
<div class="form-group">
	<label for="stage_name">Stage</label>
	<input type="text" name="stage_name" id="stage_name" class="form-control" placeholder="Stage Name" value="<%= s.name %>">
</div>
<button type="button" class="btn btn-default" id="btnUpdateStage">Update</button>
<button type="button" class="btn btn-danger" id="btnDeleteStage">Delete</button>

</form>
	

<input type="hidden" id="stage_id" value="<%= s.id %>" />


</div>
  
  
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$("#btnUpdateStage").on("click", function(){
	
	var stageName = $("#stage_name").val();
	var stageId   = $("#stage_id").val();

	$.ajax({
		
		type: "GET",
		data: "name="+stageName+"&id="+stageId,
		url: "/stage/save_edit",
		success: function(err, resp){
			alert("Updated Stage!");
		},
		error: function(err, resp){
			alert("Err");
		}
		
		
	});
	
});

$("#btnDeleteStage").on("click", function(){
	
	var stageId   = $("#stage_id").val();

	$.ajax({
		
		type: "GET",
		data: "id="+stageId,
		url: "/stage/delete",
		success: function(err, resp){
			alert("Deleted Stage!");
		},
		error: function(err, resp){
			alert("Err");
		}
		
		
	});
	
});

</script>

<%- partial('../footer') %>