<html>
<head>
<title>Golden Eagle Fligh Plan</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


</head>

<body style="padding-top: 50px;">

	<%- partial('../nav') %>
    
<div style="padding: 30px 30px;">
<h3>Manage Stages</h3>

<a href="/stage/add">Add New</a> 
	<table class="table table-striped table-bordered">
	<thead>
		<tr><td>Name</td><td>Options</td></tr>
	</thead>
	<tbody>
		<% for(var i=0; i<stages.length; i++) { %>
		
			<tr><td width="80%"><%= stages[i].name %></td>
				<td>
					<a href="/stage/edit?id=<%=stages[i].id%>" class="btn btn-default">Edit</a> 
				</td></tr>
		
		<% } %> 
	</tbody> 
	</table>
</div>
  
  
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>