<%- partial('../header') %>


   
<div class="container">

  <div style="padding: 40px 15px; text-align: center">
    <h1>Golden Eagle Flight Plan</h1>
    <p class="lead">Manage your academic career one checkbox at a time.</p>
    <p><a href="/login" class="btn btn-default">Login</a></p>
  </div>

</div>
    

 <%- partial('../footer') %>
