<%- partial('../header') %>



<div class="container">

  <div style="padding: 40px 15px; text-align: center">
  	<img src="/images/LAEagle.gif">
    <h1>Golden Eagle Flight Plan</h1>
    <p class="lead">Manage your academic career one checkbox at a time.</p>
    <p><a href="/login" class="btn btn-default">Login</a> <a href="/departments/" class="btn btn-default">View Department Flightplans</a></p>
  </div>

</div>


 <%- partial('../footer') %>
