<a href="/stage/add">Add A Stage</a> | <a href="/checkpoint/add">Add A Check Point</a>

<br><br>

<table border="1">
<tr><td></td>
<% for(var i=0; i<runway.length; i++){ %>
	<td><%= runway[i].name %></td>
<% } %>
</tr>

<% for(var i=0; i<stage.length; i++){%>
	<tr><td><%= stage[i] %></td></tr>	
<% } %>



<tr><td>Pre-College (pre flight checklist)</td>
	<td>Algebra (before Yr1) [Edit]<br>Pre-calculus (before Yr1) [Edit]</td>
	<td>Apply for financial aid and scholarships [Edit]</td>
	<td>Make a list of questions to ask during orientation and ask them! [Edit]</td></tr>
<tr><td>Freshman (take-off)</td>
	<td>Math 206(Calc 1) [Edit]<br>Pre-calculus (before Yr1) [Edit]</td>
	<td>Take a personal assessment [Edit]</td>
	<td>Find out about ECST student organizations at ECST week [Edit]</td></tr>

	
	
</table>
