<a href="/stage/add">Add A Stage</a> | <a href="/checkpoint/add">Add A Check Point</a>

<br><br>

<table border="1">
<tr><td></td>
<% for(var i=0; i<runway.length; i++){ %>
	<td><%= runway[i].name %></td>
<% } %>
</tr>

<% for(var i=0; i<stage.length; i++){%>
	<tr><td><%= stage[i] %></td></tr>	
<% } %>



<tr><td>Pre-College (pre flight checklist)</td>
	<td>Algebra (before Yr1) [<a href="/checkpoint/edit?id=1">Edit</a>]<br>Pre-calculus (before Yr1) [<a href="/checkpoint/edit?id=2">Edit</a>]</td>
	<td>Apply for financial aid and scholarships [<a href="/checkpoint/edit?id=3">Edit</a>]</td>
	<td>Make a list of questions to ask during orientation and ask them! [<a href="/checkpoint/edit?id=4">Edit</a>]</td></tr>
<tr><td>Freshman (take-off)</td>
	<td>Math 206(Calc 1) [<a href="/checkpoint/edit?id=5">Edit</a>]<br>Pre-calculus (before Yr1) [<a href="/checkpoint/edit?id=6">Edit</a>]</td>
	<td>Take a personal assessment [<a href="/checkpoint/edit?id=7">Edit</a>]</td>
	<td>Find out about ECST student organizations at ECST week [<a href="/checkpoint/edit?id=8">Edit</a>]</td></tr>

</table>


<h2>Demostrates Adding new checlpoint, Edit & Delete works</h2>
<% for(var z=0; z<checkpoints.length; z++){ %>

	<li><%= checkpoints[z].name %></li>

<% } %>


