<a href="/">Home</a> | <a href="/checkpoint/add">Add a Stage</a>

<br><br>

<table>
<tr><td>Runway:</td>
	<td>
		<select id="runway_id">
		<% for(var i=0; i<runways.length; i++) { %>
			<option value="<%= runways[i].id %>"><%= runways[i].name %></option>
		<% } %>
		</select>
	</td></tr>

<tr><td>Stage:</td>
	<td><select id="stage_id">
	<% for(var i=0; i<stages.length; i++) { %>
		<option value="<%= stages[i].id %>"><%= stages[i].name %></option>
	<% } %>
	</select></td></tr>
<tr><td>Name:</td><td><input type="text" id="checkpoint"></td></tr>
<tr><td colspan="2"></td></tr>
<tr><td>Content Type</td>
	<td><select id="content_type">
		<option value="text">Text</option>
		<option value="url">Url</option>
		<option vaue="file">File</option>
		</select></td></tr>
		

<tr><td>General Content:</td><td id="content"><input type="text" id="content_text"></td></tr>
<tr><td colspan="2"><input type="button" value="Add" id="btnAddCheckpoint" /></td></tr>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$("#btnAddCheckpoint").on("click", function(){
	
	var stage_id = $("#stage_id").val(),
		runway_id = $("#runway_id").val(),
		checkpoint = $("#checkpoint").val(),
		contentType = $("#content_type").val(),
		content =  $("#content_text").val();

	$.ajax({
		
		type: "GET",
		data: "stage_id="+stage_id+"&runway_id="+runway_id+"&checkpoint="+checkpoint+"&content_type="+contentType+"&content="+content,
		url: "/checkpoint/save",
		success: function(err, resp){
			alert("Saved Checkpoint!");
		},
		error: function(err, resp){
			
			alert("Err");
		}
		
	});
	
});


$("#content_type").on("change", function(){
	
	var option = $("#content_type").val();
	
	if(option === "File"){
	
		//Hide the text 
		$("#content_text").hide();	
		//Show the title.
		$("#content").append("<input type='file' id='content_file' /> <span id='note'>Note:  Will not allow uploading since server is out in the public.</span>");
	}	
	else{
	
		//Toggle file.
		if($("#content_file").length > 0){

			$("#content_file").hide();
			$("#note").hide();
			$("#content_text").show();
		}
	}


});
</script>