<html>
<head>
<title>Golden Eagle Fligh Plan</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


</head>

<body style="padding-top: 50px;">

<%- partial('../nav') %>
    
<div style="padding: 30px 30px;">
<h3>Add Runway</h3>

<form>
<div class="form-group">
	<label for="runway_name">Runway</label>
	<input type="text" name="stage_name" id="runway_name" class="form-control" placeholder="Runway Name">
</div>
<button type="button" class="btn btn-default" id="btnAddRunway">Add</button>
<input type="hidden" value="<%= fid %>" id="fid" />
</form>
	



</div>
  
  
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$("#btnAddRunway").on("click", function(){
	
	var runwayName = $("#runway_name").val(),
		planId 	   = $("#fid").val();

	$.ajax({
		
		type: "GET",
		data: "name="+encodeURIComponent(runwayName)+"&fid="+planId,
		url: "/runway/save",
		success: function(err, resp){
			alert("Saved Runway!");
		},
		error: function(err, resp){
			
			alert("Err");
		}
		
		
	});
	
});

</script>

</body>
</html>