<a href="/">Home</a> | <a href="/checkpoint/add">Add a Check Point</a>

<br><br>
<table>
<tr><td>Runway:</td><td><input type="text" id="runway_name" value="<%= r.name %>"></td></tr>
<tr><td colspan="2">
	<input type="button" value="Update" id="btnUpdateRunway" />
	<input type="button" value="Delete" id="btnDeleteRunway" />
	</td></tr>
</td></tr>
</table>
<input type="hidden" id="id" value="<%= r.id %>" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$("#btnUpdateRunway").on("click", function(){
	
	var name = $("#runway_name").val();
	var id   = $("#id").val();

	$.ajax({
		
		type: "GET",
		data: "name="+name+"&id="+id,
		url: "/runway/save_edit",
		success: function(err, resp){
			alert("Updated Runway!");
		},
		error: function(err, resp){
			alert("Err");
		}
		
		
	});
	
});

$("#btnDeleteRunway").on("click", function(){
	
	var id  = $("#id").val();

	$.ajax({
		
		type: "GET",
		data: "id="+id,
		url: "/runway/delete",
		success: function(err, resp){
			alert("Deleted Runway!");
		},
		error: function(err, resp){
			alert("Err");
		}
		
		
	});
	
});

</script>