<html>
<head>
<title>Golden Eagle Fligh Plan</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


</head>

<body style="padding-top: 50px;">

<%- partial('../nav') %>
    
<div style="padding: 30px 30px;">
<h3>Edit Runway</h3>

<form>
<div class="form-group">
	<label for="runway_name">Runway</label>
	<input type="text" name="stage_name" id="runway_name" class="form-control" placeholder="Runway Name" value="<%= r.name %>">
</div>
<button type="button" class="btn btn-default" id="btnUpdateRunway">Update</button>
<button type="button" class="btn btn-danger" id="btnDeleteRunway">Delete</button>
<input type="hidden" id="id" value="<%= r.id %>" />
</form>
	



</div>
  
  
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$("#btnUpdateRunway").on("click", function(){
	
	var name = $("#runway_name").val();
	var id   = $("#id").val();

	$.ajax({
		
		type: "GET",
		data: "name="+name+"&id="+id,
		url: "/runway/save_edit",
		success: function(err, resp){
			alert("Updated Runway!");
		},
		error: function(err, resp){
			alert("Err");
		}
		
		
	});
	
});

$("#btnDeleteRunway").on("click", function(){
	
	var id  = $("#id").val();

	$.ajax({
		
		type: "GET",
		data: "id="+id,
		url: "/runway/delete",
		success: function(err, resp){
			alert("Deleted Runway!");
		},
		error: function(err, resp){
			alert("Err");
		}
		
		
	});
	
});

</script>


</body>
</html>